.instructors-section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  background-color: #f9f9f9;
}

.instructors-section .text h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  margin-bottom: 40px;
  margin-left: 0;
  color: #11364F;
  padding-left: 20px;
}



.instructors-section .text p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: left;
  margin-left: 0;
  color: #23628D;
}

.img-and-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;

}

.instructors-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .instructors-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .instructors-grid {
    grid-template-columns: 1fr;
  }

  .instructors-section .text h2{
    display: none;
  }

  .img-and-text {
    margin-left: 0;
    padding: 0;
  }
}

